# Domain credentials
DOMAIN_ADMIN_USER=<domain_admin_username>
DOMAIN_ADMIN_PASSWORD=<domain_admin_password>
DOMAIN_NAME=<domain_name>

# Linux SSH credentials (sandboxed/lab hosts)
SSH_USER=<ssh_username>
SSH_PASSWORD=<ssh_password>
SSH_SUDO_PASSWORD=<ssh_sudo_password>

# prod-docker SSH credentials
PROD_DOCKER_SSH_USER=<prod_docker_username>
PROD_DOCKER_SSH_PASSWORD=<prod_docker_password>
PROD_DOCKER_SUDO_PASSWORD=<prod_docker_sudo_password>

# CIS1 SSH credentials
CIS1_SSH_USER=<cis1_username>
CIS1_SSH_PASSWORD=<cis1_password>
CIS1_SUDO_PASSWORD=<cis1_sudo_password>
